<!-- <my-ng-if-else></my-ng-if-else> -->

<!-- <favorite [is-favorite]="isFavorite" (change)="changed($event)"></favorite> -->

<!-- <my-panel>
    <ng-container class="heading">Heading</ng-container>
    <ng-container class="body">
        <h2>Body</h2>
        <p>This is the actual body element</p>
    </ng-container>
</my-panel> -->

<!-- <my-ng-switch-case></my-ng-switch-case> -->

<!-- <my-ng-for></my-ng-for> -->

<!-- <my-optional-interpolation></my-optional-interpolation> -->

<!-- <input type="text" class="for-control" [myFormatText]="'lowercase'"> -->

<!-- <contact-form></contact-form> -->

<!-- <reactive-sign-up></reactive-sign-up> -->

<!-- <add-topic></add-topic> -->

<!-- <my-post></my-post> -->

<navbar></navbar>

<router-outlet></router-outlet>
